
@page {
  size: auto;   /* auto is the initial value */
  margin: 0;  /* this affects the margin in the printer settings */
}
table{
	border-collapse: collapse;
	width: 100%;
}

table td,table th{
	padding: 5px;
	border: 1px solid #000;
}
table th{
	vertical-align: middle;
}
.noborder {
	border: none;
}